.produsts {
  width: 70%;
  margin: 20px auto;
}

.products h1 {
  margin: 20px 0;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.product-item {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: grid;
  text-align: center;
}

.product-item img {
  max-width: 100%;
  height: 250px;
  object-fit: contain;
  border-radius: 8px 8px 0 0;
}
.product-item h3 {
  margin: 15px 0 10px;
  font-size: 18px;
  color: #333;
}
.product-item p {
  margin: 0;
  color: #666;
  font-size: 14px;
}
.product-item .price {
  margin: 10px 0;
  font-size: 16px;
  color: #e60000;
}
.product-item button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}
.product-item button:hover {
  background-color: #555;
}

#quantity {
  display: inline-block;
  width: 30px;
}
